@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
*{
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #2d93a7;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 40px;
}

.container {
    width: 100%;
    max-width: 400px;
    background-color: #030627;
    border-radius: 10px;
    margin-top: 6rem;
    padding: 20px;
    box-shadow: -8px -8px 15px rgba(12, 12, 12, 0.909), 5px 5px 15px rgba(0,0,0,0.2);
}

.text h2 {
    margin-top: 0;
    color: rgb(10, 122, 220);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    font-style: oblique;
}

.input-box {
    margin-bottom: 20px;
}

.user-input {
    width: 100%;
    height: 50px;
    border: none;
    background: #ece7e7;
    color: #0b0a0a;
    font-size: 24px;
    font-style: bold;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}

.result {
    margin: 10px 0;
    font-size: 36px;
    color: #fff;
    text-align: right;
}

.btns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 1px;
}

.btn, .with-bg-button {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: #8b2800;;
    font-size: 20px;
    color: white;
    cursor: pointer;
    margin: 10px;
}

.btn:hover, .with-bg-button:hover {
    background: #d45a5a;
}

.with-bg-button {
    background: #e76b06;
}

.with-bg-btn {
    background: #3f1e07;
    color: #fff;
    font-size: 25px;
}

.with-bg-btn:hover {
    background: #5d8820;
}

@media (max-width: 400px) {
    .container {
        width: 95%;
        padding: 10px;
    }

    .btn, .with-bg-button {
        padding: 15px;
        font-size: 16px;
    }

    .result {
        font-size: 28px;
    }
}